# phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# registry=https://registry.npm.taobao.org
@mypaas:registry = "https://nexus.mypaas.com.cn/repository/app-npm"
@yl-app-jssdk:registry = "https://mynpm.mysre.cn/"
@yl:registry = "https://mynpm.mysre.cn/"